{% extends "/layouts/layout.html" %}
{% block page_title %} Container Detail {% endblock %}
{% block header %}
  {{ super() }}
  <script src="/static/js/docker/containers.js"></script>
  <script src="/static/js/common.js"></script>
{% endblock %}
{% block contents %}
  <div class="header_con mt-3">
    <h2>
      {{ container.container_name[1:] }} [{{ container.container_id[:11] }}]
    </h2>
  </div>

  <hr />

  <div id="modal-con" class="d-grid gap-2 d-md-flex justify-content-md-end">

    {% if container.state['Status'] == 'running' %}
      <button id="stop-container-btn" type="button" class="btn btn-sm btn-outline-danger" onclick="handleStopBtn()">
        Stop
      </button>
      <button id="restart-container-btn" type="button" class="btn btn-sm btn-outline-success" onclick="handleRestartBtn()">
        Restart
      </button>
    {% elif container.state['Status'] == 'exited' %}
      <button id="start-container-btn" type="button" class="btn btn-sm btn-outline-success" onclick="handleStartBtn()">
        Start
      </button>
    {% endif %}

    <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#dockerContainerModal">
      View Raw
    </button>

    <div class="modal fade" id="dockerContainerModal" tabindex="-1" aria-labelledby="dockerContainerModal" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="containerDetailModalLabel">Container Raw</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="raw_str">
            <pre>{{ container.raw_str }}</pre>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="body_con mt-3">

    <div id="container-state" class="mt-2">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Status</th>
            <th scope="col">Running</th>
            <th scope="col">Restarting</th>
            <th scope="col">Dead</th>
            <th scope="col">ExitCode</th>
            <th scope="col">Created_at</th>
            <th scope="col">StartedAt</th>
            <th scope="col">FinishedAt</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              {% if container.state['Status'] == 'running' %}
                <span class="badge text-bg-success">{{container.state['Status']}}</span>
              {% elif container.state['Status'] == 'exited' %}
                <span class="badge text-bg-danger">{{container.state['Status']}}</span>
              {% else %}
                <span class="badge text-bg-warning">{{container.state['Status']}}</span>
              {% endif %}
            </td>
            <td>{{container.state['Running']}}</td>
            <td>{{container.state['Restarting']}}</td>
            <td>{{container.state['Dead']}}</td>
            <td>{{container.state['ExitCode']}}</td>
            <td>{{ container.created_at[:10] }}</td>
            {% set cnt_started_at = container.state['StartedAt'].split('T') %}
            <td>{{ cnt_started_at[0]}}  {{cnt_started_at[1].split('.')[0]}}</td>
            {% set cnt_finished_at = container.state['FinishedAt'].split('T') %}
            <td>{{ cnt_finished_at[0]}}  {{cnt_finished_at[1].split('.')[0]}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="container-details" class="mt-2">

      <table class="table">
        <thead>
          <tr>
            <th scope="col">
              Image Id
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              {{ container.image_id }}
            </td>
          </tr>
        </tbody>
      </table>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">
              arguments
            </th>
          </tr>
        </thead>
        <tbody>
          {% if container.args|length > 0 %}
            {% for arg in container.args %}
              <tr>
                <td>
                  {{ arg }}
                </td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td>
                None
              </td>
            </tr>
          {% endif %}
        </tbody>
      </table>

      <h6 class="mb-2 mt-4 fw-bold mx-1">
        Binds Information
      </h6>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">
              Host
            </th>
            <th scope="col">
              Container
            </th>
          </tr>
        </thead>
        <tbody>
          {% if container.binds %}
            {% for dir in container.binds %}
            <tr>
              <td>
                {{dir.split(":")[0]}}
              </td>
              <td>
                {{dir.split(":")[1]}}
              </td>
            </tr>
            {% endfor %}
          </tr>
          {% else %}
          <tr>
            <td>
              None
            </td>
            <td></td>
          </tr>
          {% endif %}
        </tbody>
      </table>

      <h6 class="mb-2 mt-4 fw-bold mx-1">
        Ports
      </h6>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">
              Host
            </th>
            <th scope="col">
              Container
            </th>
            <th scope="col">
              Type
            </th>
          </tr>
        </thead>
        <tbody>
          {% if container.networks %}
            {% for port in container.networks.Ports %}
              {% set container_port_detail = port.split('/') %}
              {% if container.networks.Ports[port] %}
                {% for host_port in container.networks.Ports[port] %}
                  <tr>
                    <td>
                      {{host_port.HostIp }}:{{ host_port.HostPort }}
                    </td>
                    <td>
                      {{ container_port_detail[0] }}
                    </td>
                    <td>
                      {{ container_port_detail[1] }}
                    </td>
                  </tr>
                {% endfor %}
              {% endif %}
            {% endfor %}
          </tr>
          {% else %}
          <tr>
            <td>
              None
            </td>
            <td></td>
          </tr>
          {% endif %}
        </tbody>
      </table>

      <h6 class="mb-2 mt-4 fw-bold mx-1">
        Network Information
      </h6>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">
              Name
            </th>
            <th scope="col">
              NetworkId
            </th>
            <th scope="col">
              Aliases
            </th>
            <th scope="col">
              Gateway
            </th>
            <th scope="col">
              IpAddress
            </th>
          </tr>
        </thead>
        <tbody>
          {% if container.networks %}
            {% for network in container.networks.Networks %}
              {% set network_obj = container.networks.Networks[network] %}
              <tr>
                <td>
                  {{ network }}
                </td>
                <td>
                  {{ network_obj.NetworkID[:9] }}
                </td>
                <td>
                  {{ network_obj.Aliases }}
                </td>
                <td>
                  {{ network_obj.Gateway }}
                </td>
                <td>
                  {{ network_obj.IPAddress }}
                </td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td>
                None
              </td>
              <td></td>
            </tr>
          {% endif %}
        </tbody>
      </table>

    </div>

  </div>

{% endblock %}