{% extends "/layouts/layout.html" %}
{% block page_title %} Images {% endblock %}
{% block header %}
  {{ super() }}
  <script src="/static/js/common.js"></script>
  <script src="/static/js/docker/dockers.js"></script>
  <script src="/static/js/docker/networks.js"></script>
{% endblock %}
{% block contents %}
<div class="mx-lg-5">
  <div class="content-header mt-3">
    <h2>
      Docker Networks
    </h2>
  </div>
  <div class="content-body overflow-hidden shadow-sm" oncontextmenu="handleListMenu(event)">
    <div class="px-4 text-center">
      <div class="row">
        {% for network in networks %}
        <div class="col-2 mt-3 text-center align-content-center">
          <div class="text-center mb-3" >
            <div class="card-body" oncontextmenu="handleImageMenu(event)">
              <p class="card-text">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-hdd-network" viewBox="0 0 16 16">
                  <path d="M4.5 5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1M3 4.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"/>
                  <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2H8.5v3a1.5 1.5 0 0 1 1.5 1.5h5.5a.5.5 0 0 1 0 1H10A1.5 1.5 0 0 1 8.5 14h-1A1.5 1.5 0 0 1 6 12.5H.5a.5.5 0 0 1 0-1H6A1.5 1.5 0 0 1 7.5 10V7H2a2 2 0 0 1-2-2zm1 0v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1m6 7.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5"/>
                </svg>
                {% if not network.is_dangling %}
                <span class="position-absolute translate-middle p-1 bg-primary border border-light rounded-circle">
                  <span class="visually-hidden"></span>
                </span>
                {% endif %}
              </p>
              <p class="card-text text-break"> {{ network.network_name }} </p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}