{% extends "/layouts/layout.html" %}
{% block page_title %} Container list {% endblock %}
{% block header %}
  {{ super() }}
  <script src="static/js/common.js"></script>
  <script src="static/js/docker/dockers.js"></script>
  <script src="static/js/docker/containers.js"></script>
{% endblock %}
{% block contents %}
<div class="mx-lg-5">
  <div class="content-header mt-3">
    <h2>
      Docker Containers
    </h2>
  </div>
  <div class="content-body overflow-hidden shadow-sm" oncontextmenu="handleListMenu(event)">
    <div class="px-4 text-center">
      <div class="row">
      {% for container in container_list %}
        {% set container_state = container.state.get('Status') %}
        <div class="col-2 mt-3 text-center align-content-center">
          <div class="text-center mb-3" >
            <div class="card-body" oncontextmenu="handleContainerMenu(event, '{{ container.container_name }}', '{{ container_state }}')">
              <p class="card-text" >
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-box-seam" viewBox="0 0 16 16">
                  <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2zm3.564 1.426L5.596 5 8 5.961 14.154 3.5zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464z"/>
                </svg>
                {% if container_state == 'running' %}
                <span class="position-absolute top-45 start-75 translate-middle p-2 bg-success border border-light rounded-circle">
                {% elif container_state == 'exited' %}
                <span class="position-absolute top-45 start-75 translate-middle p-2 bg-danger border border-light rounded-circle">
                {% else %}
                <span class="position-absolute top-45 start-75 translate-middle p-2 bg-warning border border-light rounded-circle">
                {% endif %}
                  <span class="visually-hidden"></span>
                </span>
              </p>
              <p class="card-text">{{ container.container_name }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}